<h2 class="text-center"><strong>Edit <%= resource_name.to_s.humanize %></strong></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <h5 class="subheader text-center"><i>General Information</i></h5>
    <div class="small-3 columns">
      <%= f.label :username, class: 'inline right' %>
      <%= f.label :email, class: 'inline right' %>
      <%= f.label :first_name, class: 'inline right' %>
      <%= f.label :last_name, class: 'inline right' %>
    </div>

    <div class="small-7 columns end">
      <%= f.text_field :username, autofocus: true, placeholder: 'Optional Username' %>
      <%= f.email_field :email, required: true %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
    </div>

  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <h5 class="subheader text-center"><i>Change Password</i></h5>
    <div class="small-3 columns">
      <%= f.label :password, class: 'inline right' %>
      <%= f.label :password_confirmation, class: 'inline right' %>
    </div>

    <div class="small-7 columns end">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Leave blank unless changing' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Leave blank unless changing' %>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <h5 class="subheader text-center"><i>Confirm and Update</i></h5>
    <div class="small-3 columns">
      <%= f.label :current_password, class: 'inline right' %>
    </div>

    <div class="small-7 columns end">
      <%= f.password_field :current_password, autocomplete: "off", required: true, placeholder: 'Required to save changes' %>
    </div>
  </div>

  <div class="row">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>

  <div class="row">
    <div class="small-7 small-offset-3 columns end">
      <%= f.submit "Update", class: 'button success round expand' %>
    </div>
  </div>
<% end %>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="small-4 small-offset-4 columns end">
    <h5 class="text-center">Unhappy?</h5>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button alert round tiny expand' %>
  </div>
</div>
