<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-1 columns">
      <%= f.label :title, class: 'inline left' %>
    </div>
    <div class="small-11 columns">
      <%= f.text_field :title, autofocus: true, required: true %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :body, class: 'left' %><br>
      <%= f.text_area :body, rows: 15, required: true %>
      <%= f.submit 'Save', class: 'button success round right' %>
      <%= link_to 'Cancel', root_path, data: { confirm: 'Cancel and lose all changes?'}, class: 'alert round button right' %>
    </div>
  </div>
<% end %>
