<div class="row">
  <div class="small-4 columns">
    <div class="panel">
      <h5 class="text-center">Recent Posts</h5>
      <% @recent.each do |entry| %>
        <p>
          <strong><%= link_to entry.title.truncate(30), entry_path(entry) %></strong><br>
          <%= entry.created_at.strftime("%m/%d/%y") %>
        </p>
      <% end %>
      <hr>
      <h5 class="text-center">Page Nav</h5>
      <!--TODO: Move into a helper -->
      <% if @current_page.to_i < @max_pages.to_i %>
        <%= link_to 'Next', entries_path(page: @current_page.to_i + 1), class: 'right show-for-medium-up' %>
        <%= link_to '>', entries_path(page: @current_page.to_i + 1), class: 'right hide-for-medium-up' %>
      <% end %>
      <% if @current_page.to_i > 1 %>
        <%= link_to 'Previous', entries_path(page: @current_page.to_i - 1), class: 'left show-for-medium-up' %>
        <%= link_to '<', entries_path(page: @current_page.to_i - 1), class: 'left hide-for-medium-up' %>
      <% end %>
      <br>
    </div>

    <% if current_user %>
      <%= link_to 'New Entry', new_entry_path, class: 'button round success expand' %>
    <% end %>
  </div>
  <div class="small-8 columns">
    <% @entries.each do |entry| %>
      <h3><%= link_to entry.title, entry_path(entry) %></h3>
      <p><%= entry.body.html_safe %></p>
      <p class="right">
        by
        <% if entry.user.username.length > 0 %>
          <%= entry.user.username %>
        <% else %>
          <%= entry.user.email %>
        <% end %>
        on <%= entry.created_at.strftime("%m/%d/%y at %I:%M%p") %>
      </p>


      <% if current_user && entry.user_id == current_user.id %>
        <%= link_to 'Edit', edit_entry_path(entry), class: 'label warning round' %>
        <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label alert round' %>
      <% end %>

      <hr>

    <% end %>

  </div>
</div>



