<div class="row">
  <h2 class="text-center"><strong>Login</strong></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: 'Enter email' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Enter password' %>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end -%>

    <%= f.submit "Log in", class: 'button success round right' %>

  <% end %>


</div>

<div class="row">
  <%= render "devise/shared/links" %>
</div>